<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @game.company.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<h3>Critics</h3>
<ul>
  <% @game.critics.each do |critic| %>
  <li>
    <strong><%= critic.username %> - <%= critic.title %></strong>
    <p><%= critic.body %></p>
  </li>
  <% end %>
</ul>
